<%= link_to "Create Order", orders_path, method: :post, class:"btn btn-outline-secondary m-2" %>
<table class="table table-bordered border-secondary table-secondary">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Total Price</th>
    <th>Discount Percentage</th>
    <th>Discounted value</th>
    <th>Total Discount</th>
    <th>State</th>
    <th>Date & Time</th>
  </tr>
  <tr>
    <% @orders.each do |order| %>
      <td>
        <%= order.id %>
      </td>
      <td>
        <%= order.user.name %>
      </td>
      <td> 
        <%= order.total_price %>
      </td>
      <td>
        <%= order.discount_percentage %>
      </td>
      <td>
        <%= order.discounted_value %>
      </td>
      <td>
        <%= order.total_discount %>
      </td>
      <td>
        <%= order.state %>
      </td>
      <td>
        <%= order.created_at %>
      </td>
    </tr>
  <% end %>
</table>