<div class='container login_container d-flex justify-content-center mt-4'>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class = "fields m-5 pt-3" >
      <p style="font-weight:bold; font-size: 1.5rem; color:black">Login</p>
      <div class="field ">
        <%= f.label :email, class:"label container d-flex justify-content-left text-black" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:" text_field rounded-1 form-control no-border" %>
      </div>
      <div class="field">
        <%= f.label :password, class:"label container d-flex justify-content-left mt-5 text-black " %>
        <%= f.password_field :password, autocomplete: "current-password", class: " text_field rounded-1 form-control no-border " %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="check_box container d-flex justify-content-left">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, class:"text-black" %>
        </div>
      <% end %>
      <div class="action">
        <%= f.submit "Log in", class:"login_button text-white rounded-2 form-control no-border mt-3" %>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
